main {
  /*Display stuff*/
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 520px;
  height: 400px;
  padding: 33.28px 34.56px 33.92px 34.56px;
  border-radius: 10px;
  background: #f5f5f5;
}

.die-container {
  /*Display stuff*/
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  /*Miscellaneous*/
  gap: 18px;
}

.die {
  /*Display stuff*/
  display: grid;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 35.84px;
  height: 35.84px;
  border-radius: 3.813px;
  background: #fff;
  /*Typography stuff*/
  font-size: 20.589px;
  font-weight: 700;
  color: #2b283a;
  /*Miscellaneous*/
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}
