main {
  /*Display stuff*/
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /*Box model stuff*/
  width: 420px;
  height: 400px;
  padding: 33.28px 34.56px 33.92px 34.56px;
  border-radius: 10px;
  background: #f5f5f5;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions,
.game-stats {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.die-container {
  /*Display stuff*/
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  /*Miscellaneous*/
  gap: 18px;
}

.die {
  /*Display stuff*/
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  /*Box model stuff*/
  width: 45.84px;
  height: 45.84px;
  border-radius: 3.813px;
  /*Typography stuff*/
  font-size: 25.589px;
  font-weight: 700;
  color: #2b283a;
  /*Miscellaneous*/
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn-roll-dice {
  /*Box model stuff*/
  width: 130.16px;
  height: 35.84px;
  margin-top: 26px;
  border: none;
  border-radius: 5px;
  background-color: #5035ff;
  /*Typography stuff*/
  font-family: "Karla", sans-serif;
  font-size: 16.384px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  /*Miscellaneous*/
  cursor: pointer;
}

/* Styles for the Time and Rolls elements */
.game-stats {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 31px;
  width: 420px;
}

.game-stats-time {
  margin-right: 41px;
}

.game-stats-time p {
  margin: 0;
  padding: 0 0 5px 0;
}

.best-time {
  margin-left: 0;
}

.game-stats-time span {
  font-weight: bold;
}
