@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");

:root {
  font-family: "Karla", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* background-color: #fff;
  display: flex;
  margin: auto;
  min-height: 100vh; */
}

body {
  margin: 0;
  display: flex;
  background-color: #0b2434;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
