@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");

:root {
  /*Typography stuff*/
  font-family: "Karla", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /*Miscellaneous*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  height: 100vh;
  margin: 0;
  background-color: #0b2434;
}
